In [0]:
print ("creating DataFrames")

creating DataFrames

In [0]:
%sql
select * from  csv.`/Volumes/workspace/default/emp/emp1.csv`

_c0,_c1,_c2,_c3,_c4
sno,Name,salary,sex,rank
101,Miller,10000,m,11
102,Blake,20000,m,12
103,Sony,30000,f,11
104,Sita,40000,f,12
105,John,50000,m,13

In [0]:
%sql
select * from _sqldf

_c0,_c1,_c2,_c3,_c4
sno,Name,salary,sex,rank
101,Miller,10000,m,11
102,Blake,20000,m,12
103,Sony,30000,f,11
104,Sita,40000,f,12
105,John,50000,m,13

In [0]:
display(_sqldf)

_c0,_c1,_c2,_c3,_c4
sno,Name,salary,sex,rank
101,Miller,10000,m,11
102,Blake,20000,m,12
103,Sony,30000,f,11
104,Sita,40000,f,12
105,John,50000,m,13

In [0]:
print (_sqldf)

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string]

In [0]:
df = spark.read.format("csv").option("header", "true").load("/Volumes/workspace/default/emp/emp1.csv")
print(df)

DataFrame[sno: string, Name: string, salary: string, sex: string, rank: string]

In [0]:
df.display()

sno,Name,salary,sex,rank
101,Miller,10000,m,11
102,Blake,20000,m,12
103,Sony,30000,f,11
104,Sita,40000,f,12
105,John,50000,m,13

# 1.Select() 
** particular columns**

In [0]:
df.select("Name", "salary").display()

Name,salary
Miller,10000
Blake,20000
Sony,30000
Sita,40000
John,50000

# 2. Transformation
** Adding 5000 to all salary **

In [0]:
df2 = df.select(df.Name,(df.salary+5000).alias("salary"))
display(df2)

Name,salary
Miller,15000
Blake,25000
Sony,35000
Sita,45000
John,55000

#**OR**

# 3. using SelectExpr()

In [0]:
df.selectExpr("Name","salary+5000 as salary").display()

Name,salary
Miller,15000
Blake,25000
Sony,35000
Sita,45000
John,55000

In [0]:
mydf = df
df.show()

+---+------+------+---+----+
|sno|  Name|salary|sex|rank|
+---+------+------+---+----+
|101|Miller| 10000|  m|  11|
|102| Blake| 20000|  m|  12|
|103|  Sony| 30000|  f|  11|
|104|  Sita| 40000|  f|  12|
|105|  John| 50000|  m|  13|
+---+------+------+---+----+

# 4. Filter()
** I want those emps whose salary is greater than 20000**

In [0]:
mydf.filter(mydf.salary>20000).show()

+---+----+------+---+----+
|sno|Name|salary|sex|rank|
+---+----+------+---+----+
|103|Sony| 30000|  f|  11|
|104|Sita| 40000|  f|  12|
|105|John| 50000|  m|  13|
+---+----+------+---+----+

In [0]:
#Filter ,select and show

mydf.filter(mydf.salary>20000).select('Name','salary').show()

+----+------+
|Name|salary|
+----+------+
|Sony| 30000|
|Sita| 40000|
|John| 50000|
+----+------+

In [0]:
mydf.printSchema()

root
 |-- sno: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- rank: string (nullable = true)

In [0]:
df.describe().show()

+-------+------------------+-----+------------------+----+------------------+
|summary|               sno| Name|            salary| sex|              rank|
+-------+------------------+-----+------------------+----+------------------+
|  count|                 5|    5|                 5|   5|                 5|
|   mean|             103.0| NULL|           30000.0|NULL|              11.8|
| stddev|1.5811388300841898| NULL|15811.388300841896|NULL|0.8366600265340756|
|    min|               101|Blake|             10000|   f|                11|
|    max|               105| Sony|             50000|   m|                13|
+-------+------------------+-----+------------------+----+------------------+

In [0]:
mydf.select('rank').distinct().show()

+----+
|rank|
+----+
|  12|
|  11|
|  13|
+----+

# DROP()
**Droping Columns**

In [0]:
df3 = mydf
df3.show()

+---+------+------+---+----+
|sno|  Name|salary|sex|rank|
+---+------+------+---+----+
|101|Miller| 10000|  m|  11|
|102| Blake| 20000|  m|  12|
|103|  Sony| 30000|  f|  11|
|104|  Sita| 40000|  f|  12|
|105|  John| 50000|  m|  13|
+---+------+------+---+----+

In [0]:
df4= df3.drop('sex','rank')
df4.display()

sno,Name,salary
101,Miller,10000
102,Blake,20000
103,Sony,30000
104,Sita,40000
105,John,50000

# Droping Duplicate Values

In [0]:
df.dropDuplicates().show()

+---+------+------+---+----+
|sno|  Name|salary|sex|rank|
+---+------+------+---+----+
|103|  Sony| 30000|  f|  11|
|104|  Sita| 40000|  f|  12|
|105|  John| 50000|  m|  13|
|101|Miller| 10000|  m|  11|
|102| Blake| 20000|  m|  12|
+---+------+------+---+----+

In [0]:
df4.tail(2)

[Row(sno='104', Name='Sita', salary='40000'),
 Row(sno='105', Name='John', salary='50000')]

# Sort

In [0]:
df.sort("Name").show()

+---+------+------+---+----+
|sno|  Name|salary|sex|rank|
+---+------+------+---+----+
|102| Blake| 20000|  m|  12|
|105|  John| 50000|  m|  13|
|101|Miller| 10000|  m|  11|
|104|  Sita| 40000|  f|  12|
|103|  Sony| 30000|  f|  11|
+---+------+------+---+----+

In [0]:
df.sort(df.Name.asc()).show()

+---+------+------+---+----+
|sno|  Name|salary|sex|rank|
+---+------+------+---+----+
|102| Blake| 20000|  m|  12|
|105|  John| 50000|  m|  13|
|101|Miller| 10000|  m|  11|
|104|  Sita| 40000|  f|  12|
|103|  Sony| 30000|  f|  11|
+---+------+------+---+----+

In [0]:
df.orderBy("Name").show()

+---+------+------+---+----+
|sno|  Name|salary|sex|rank|
+---+------+------+---+----+
|102| Blake| 20000|  m|  12|
|105|  John| 50000|  m|  13|
|101|Miller| 10000|  m|  11|
|104|  Sita| 40000|  f|  12|
|103|  Sony| 30000|  f|  11|
+---+------+------+---+----+

# Replace

In [0]:
mydf = df.replace(['m','f'],['Male','Female'],'sex')
mydf.show()

+---+------+------+------+----+
|sno|  Name|salary|   sex|rank|
+---+------+------+------+----+
|101|Miller| 10000|  Male|  11|
|102| Blake| 20000|  Male|  12|
|103|  Sony| 30000|Female|  11|
|104|  Sita| 40000|Female|  12|
|105|  John| 50000|  Male|  13|
+---+------+------+------+----+