In [0]:
#Creating Datatables- Two Ways
#1. SQL Approach
#2.PySPark Approach

#1. Using SQL Approach

In [0]:
%sql
create table if not exists dev.delta_demodb.emp1
(id int, name string,salary int,sex string);

In [0]:
%sql
select * from dev.delta_demodb.emp1

In [0]:
%sql
INSERT INTO dev.delta_demodb.emp1 VALUES
  (101 ,'Mahendra',50000,'M'),
  (102 ,'Ravi',60000,'M'),
  (103 ,'Priya',55000,'F'),
  (104 ,'Rajesh',65000,'M'),
  (105 ,'Priyanka',50000,'F');

num_affected_rows,num_inserted_rows
5,5

In [0]:
%sql
select * from dev.delta_demodb.emp1

id,name,salary,sex
101,Mahendra,50000,M
102,Ravi,60000,M
103,Priya,55000,F
104,Rajesh,65000,M
105,Priyanka,50000,F

#Another way of creating delta table using Dataframe API

Dataframe O/p Save as a table

In [0]:
df = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/Volumes/dev/haridb/myvolume/emp.csv")
df.display()

Eid,Ename,Salary,sex,dno,city
101,Miller,10000,m,11,hyd
102,Blake,20000,m,12,pune
103,Sony,30000,f,11,hyd
104,Sita,40000,f,12,pune
105,John,50000,m,13,hyd

In [0]:
df.write.format("delta").mode("append").saveAsTable("dev.delta_demodb.emps2")

In [0]:
%sql
create table if not exists dev.delta_demodb.emp3 using delta as select * from dev.delta_demodb.emps2;

select * from dev.delta_demodb.emp3

Eid,Ename,Salary,sex,dno,city
101,Miller,10000,m,11,hyd
102,Blake,20000,m,12,pune
103,Sony,30000,f,11,hyd
104,Sita,40000,f,12,pune
105,John,50000,m,13,hyd

In [0]:
spark.sql("use dev.delta_demodb")

DataFrame[]

In [0]:
spark.sql("show tables").display()

database,tableName,isTemporary
delta_demodb,emp1,false
delta_demodb,emp3,false
delta_demodb,emps2,false

In [0]:
spark.sql("select * from emp3").display()

Eid,Ename,Salary,sex,dno,city
101,Miller,10000,m,11,hyd
102,Blake,20000,m,12,pune
103,Sony,30000,f,11,hyd
104,Sita,40000,f,12,pune
105,John,50000,m,13,hyd

In [0]:
spark.sql("create catalog dev1")

DataFrame[]

In [0]:
spark.sql("create database dev1.demodb")

DataFrame[]

In [0]:
spark.sql("create schema if not exists dev1.demodb")

DataFrame[]

In [0]:
spark.sql("create table if not exists dev1.demodb.emp4 using delta as select * from dev.delta_demodb.emp3")

DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:
%sql
select * from dev1.demodb.emp4

Eid,Ename,Salary,sex,dno,city
101,Miller,10000,m,11,hyd
102,Blake,20000,m,12,pune
103,Sony,30000,f,11,hyd
104,Sita,40000,f,12,pune
105,John,50000,m,13,hyd

In [0]:
df.write.format("delta").mode("append").saveAsTable("dev2.demodb.emp2")
spark.sql("select * from dev2.demodb.emp2").display()

Eid,Ename,Salary,sex,dno,city
101,Miller,10000,m,11,hyd
102,Blake,20000,m,12,pune
103,Sony,30000,f,11,hyd
104,Sita,40000,f,12,pune
105,John,50000,m,13,hyd
101,Miller,10000,m,11,hyd
102,Blake,20000,m,12,pune
103,Sony,30000,f,11,hyd
104,Sita,40000,f,12,pune
105,John,50000,m,13,hyd

In [0]:
#Without using create table statement and I want custom schema

from pyspark.sql.functions import *