In [0]:
df = spark.read.format('json').load('/Volumes/dev/haridb/myvolume/emps2.json')
df.show()

+---+---+-------+-----+---+
|dno|eid|  ename|  sal|sex|
+---+---+-------+-----+---+
| 11|101| Miller|10000|  m|
| 12|102|  Blake|20000|  m|
| 11|103|   Sony|30000|  f|
| 12|104|  Sonia|40000|  f|
| 13|105|  James|50000|  m|
| 14|106|  pavan|60000|  m|
| 15|107|praveen|70000|  m|
| 16|108|   John|80000|  m|
+---+---+-------+-----+---+

In [0]:
df1 = spark.read.format('json').load('/Volumes/dev/haridb/myvolume/dept.json')
df1.show()

+-------+--------+---+
|   city|   dname|dno|
+-------+--------+---+
|    Hyd|    Mrkt| 11|
|   Pune|     Fin| 12|
| Mumbai|      HR| 13|
|    Hyd|   sales| 17|
|Chennai|Accounts| 18|
|    Hyd|   Admin| 19|
+-------+--------+---+

In [0]:
df.join(df1, df.dno == df1.dno, "inner").show()

+---+---+------+-----+---+------+-----+---+
|dno|eid| ename|  sal|sex|  city|dname|dno|
+---+---+------+-----+---+------+-----+---+
| 11|101|Miller|10000|  m|   Hyd| Mrkt| 11|
| 12|102| Blake|20000|  m|  Pune|  Fin| 12|
| 11|103|  Sony|30000|  f|   Hyd| Mrkt| 11|
| 12|104| Sonia|40000|  f|  Pune|  Fin| 12|
| 13|105| James|50000|  m|Mumbai|   HR| 13|
+---+---+------+-----+---+------+-----+---+

In [0]:
df.join(df1, "dno", "inner").show()

+---+---+------+-----+---+------+-----+
|dno|eid| ename|  sal|sex|  city|dname|
+---+---+------+-----+---+------+-----+
| 11|101|Miller|10000|  m|   Hyd| Mrkt|
| 12|102| Blake|20000|  m|  Pune|  Fin|
| 11|103|  Sony|30000|  f|   Hyd| Mrkt|
| 12|104| Sonia|40000|  f|  Pune|  Fin|
| 13|105| James|50000|  m|Mumbai|   HR|
+---+---+------+-----+---+------+-----+

In [0]:
print("LEFT_OUTER_JOIN : ")
df.join(df1, "dno", "left_outer").show()

LEFT_OUTER_JOIN :
+---+---+-------+-----+---+------+-----+
|dno|eid|  ename|  sal|sex|  city|dname|
+---+---+-------+-----+---+------+-----+
| 11|101| Miller|10000|  m|   Hyd| Mrkt|
| 12|102|  Blake|20000|  m|  Pune|  Fin|
| 11|103|   Sony|30000|  f|   Hyd| Mrkt|
| 12|104|  Sonia|40000|  f|  Pune|  Fin|
| 13|105|  James|50000|  m|Mumbai|   HR|
| 14|106|  pavan|60000|  m|  NULL| NULL|
| 15|107|praveen|70000|  m|  NULL| NULL|
| 16|108|   John|80000|  m|  NULL| NULL|
+---+---+-------+-----+---+------+-----+

In [0]:
print("right_outer_join", df.join(df1,"dno","right_outer").show())

+---+----+------+-----+----+-------+--------+
|dno| eid| ename|  sal| sex|   city|   dname|
+---+----+------+-----+----+-------+--------+
| 11| 103|  Sony|30000|   f|    Hyd|    Mrkt|
| 11| 101|Miller|10000|   m|    Hyd|    Mrkt|
| 12| 104| Sonia|40000|   f|   Pune|     Fin|
| 12| 102| Blake|20000|   m|   Pune|     Fin|
| 13| 105| James|50000|   m| Mumbai|      HR|
| 17|NULL|  NULL| NULL|NULL|    Hyd|   sales|
| 18|NULL|  NULL| NULL|NULL|Chennai|Accounts|
| 19|NULL|  NULL| NULL|NULL|    Hyd|   Admin|
+---+----+------+-----+----+-------+--------+

right_outer_join None

In [0]:
print("full_OUTER_JOIN",df.join(df1,"dno","full_outer").show())

+---+----+-------+-----+----+-------+--------+
|dno| eid|  ename|  sal| sex|   city|   dname|
+---+----+-------+-----+----+-------+--------+
| 11| 101| Miller|10000|   m|    Hyd|    Mrkt|
| 11| 103|   Sony|30000|   f|    Hyd|    Mrkt|
| 12| 102|  Blake|20000|   m|   Pune|     Fin|
| 12| 104|  Sonia|40000|   f|   Pune|     Fin|
| 13| 105|  James|50000|   m| Mumbai|      HR|
| 14| 106|  pavan|60000|   m|   NULL|    NULL|
| 15| 107|praveen|70000|   m|   NULL|    NULL|
| 16| 108|   John|80000|   m|   NULL|    NULL|
| 17|NULL|   NULL| NULL|NULL|    Hyd|   sales|
| 18|NULL|   NULL| NULL|NULL|Chennai|Accounts|
| 19|NULL|   NULL| NULL|NULL|    Hyd|   Admin|
+---+----+-------+-----+----+-------+--------+

full_OUTER_JOIN None

In [0]:
foj = df.join(df1,"dno","full_outer")
foj.show()

+---+----+-------+-----+----+-------+--------+
|dno| eid|  ename|  sal| sex|   city|   dname|
+---+----+-------+-----+----+-------+--------+
| 11| 101| Miller|10000|   m|    Hyd|    Mrkt|
| 11| 103|   Sony|30000|   f|    Hyd|    Mrkt|
| 12| 102|  Blake|20000|   m|   Pune|     Fin|
| 12| 104|  Sonia|40000|   f|   Pune|     Fin|
| 13| 105|  James|50000|   m| Mumbai|      HR|
| 14| 106|  pavan|60000|   m|   NULL|    NULL|
| 15| 107|praveen|70000|   m|   NULL|    NULL|
| 16| 108|   John|80000|   m|   NULL|    NULL|
| 17|NULL|   NULL| NULL|NULL|    Hyd|   sales|
| 18|NULL|   NULL| NULL|NULL|Chennai|Accounts|
| 19|NULL|   NULL| NULL|NULL|    Hyd|   Admin|
+---+----+-------+-----+----+-------+--------+

In [0]:
foj.dropna().show()

+---+---+------+-----+---+------+-----+
|dno|eid| ename|  sal|sex|  city|dname|
+---+---+------+-----+---+------+-----+
| 11|101|Miller|10000|  m|   Hyd| Mrkt|
| 11|103|  Sony|30000|  f|   Hyd| Mrkt|
| 12|102| Blake|20000|  m|  Pune|  Fin|
| 12|104| Sonia|40000|  f|  Pune|  Fin|
| 13|105| James|50000|  m|Mumbai|   HR|
+---+---+------+-----+---+------+-----+

In [0]:
foj.show()

+---+----+-------+-----+----+-------+--------+
|dno| eid|  ename|  sal| sex|   city|   dname|
+---+----+-------+-----+----+-------+--------+
| 11| 101| Miller|10000|   m|    Hyd|    Mrkt|
| 11| 103|   Sony|30000|   f|    Hyd|    Mrkt|
| 12| 102|  Blake|20000|   m|   Pune|     Fin|
| 12| 104|  Sonia|40000|   f|   Pune|     Fin|
| 13| 105|  James|50000|   m| Mumbai|      HR|
| 14| 106|  pavan|60000|   m|   NULL|    NULL|
| 15| 107|praveen|70000|   m|   NULL|    NULL|
| 16| 108|   John|80000|   m|   NULL|    NULL|
| 17|NULL|   NULL| NULL|NULL|    Hyd|   sales|
| 18|NULL|   NULL| NULL|NULL|Chennai|Accounts|
| 19|NULL|   NULL| NULL|NULL|    Hyd|   Admin|
+---+----+-------+-----+----+-------+--------+

In [0]:
foj.na.fill(0).show()

+---+---+-------+-----+----+-------+--------+
|dno|eid|  ename|  sal| sex|   city|   dname|
+---+---+-------+-----+----+-------+--------+
| 11|101| Miller|10000|   m|    Hyd|    Mrkt|
| 11|103|   Sony|30000|   f|    Hyd|    Mrkt|
| 12|102|  Blake|20000|   m|   Pune|     Fin|
| 12|104|  Sonia|40000|   f|   Pune|     Fin|
| 13|105|  James|50000|   m| Mumbai|      HR|
| 14|106|  pavan|60000|   m|   NULL|    NULL|
| 15|107|praveen|70000|   m|   NULL|    NULL|
| 16|108|   John|80000|   m|   NULL|    NULL|
| 17|  0|   NULL|    0|NULL|    Hyd|   sales|
| 18|  0|   NULL|    0|NULL|Chennai|Accounts|
| 19|  0|   NULL|    0|NULL|    Hyd|   Admin|
+---+---+-------+-----+----+-------+--------+

In [0]:
foj.na.fill({
    "ename" : "Unknown",
    "sex" : "Unknown",
    "city" : "Unknown",
    "dname" : "Unknown",
    "eid" : 0,
    "sal" : 0
}) .show()
foj.replace({
    'm' : 'Male',
    'f' : 'female'
    }) .show()

+---+---+-------+-----+-------+-------+--------+
|dno|eid|  ename|  sal|    sex|   city|   dname|
+---+---+-------+-----+-------+-------+--------+
| 11|101| Miller|10000|      m|    Hyd|    Mrkt|
| 11|103|   Sony|30000|      f|    Hyd|    Mrkt|
| 12|102|  Blake|20000|      m|   Pune|     Fin|
| 12|104|  Sonia|40000|      f|   Pune|     Fin|
| 13|105|  James|50000|      m| Mumbai|      HR|
| 14|106|  pavan|60000|      m|Unknown| Unknown|
| 15|107|praveen|70000|      m|Unknown| Unknown|
| 16|108|   John|80000|      m|Unknown| Unknown|
| 17|  0|Unknown|    0|Unknown|    Hyd|   sales|
| 18|  0|Unknown|    0|Unknown|Chennai|Accounts|
| 19|  0|Unknown|    0|Unknown|    Hyd|   Admin|
+---+---+-------+-----+-------+-------+--------+

+---+----+-------+-----+------+-------+--------+
|dno| eid|  ename|  sal|   sex|   city|   dname|
+---+----+-------+-----+------+-------+--------+
| 11| 101| Miller|10000|  Male|    Hyd|    Mrkt|
| 11| 103|   Sony|30000|female|    Hyd|    Mrkt|
| 12| 102|  Blake|20000|  Male|   Pune|     Fin|
| 12| 104|  Sonia|40000|female|   Pune|     Fin|
| 13| 105|  James|50000|  Male| Mumbai|      HR|
| 14| 106|  pavan|60000|  Male|   NULL|    NULL|
| 15| 107|praveen|70000|  Male|   NULL|    NULL|
| 16| 108|   John|80000|  Male|   NULL|    NULL|
| 17|NULL|   NULL| NULL|  NULL|    Hyd|   sales|
| 18|NULL|   NULL| NULL|  NULL|Chennai|Accounts|
| 19|NULL|   NULL| NULL|  NULL|    Hyd|   Admin|
+---+----+-------+-----+------+-------+--------+

In [0]:
data = [("Hari",101) ,("Ravi",102),("Jai",103)]
df2  = spark.createDataFrame(data)
df2.show()

+----+---+
|  _1| _2|
+----+---+
|Hari|101|
|Ravi|102|
| Jai|103|
+----+---+

In [0]:
df2 = spark.createDataFrame(data, ["Name",'Id'])
df2.show()

+----+---+
|Name| Id|
+----+---+
|Hari|101|
|Ravi|102|
| Jai|103|
+----+---+

In [0]:
df2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Id: long (nullable = true)

Dataframe is a collection of Row objects,
EAch row object repreents a record

DataFrames can be created in 2 ways using

1)spark session->ex:df=spark.createDataFrame(RDD) #here spark is spark session object
2)sqlContext---->ex:df=sqlContext.createDataFrame(RDD)


Creating Dataframes :

1)from local objects(python objects)
2)from rdds(resilient distributed datasets)
3)from the results of sql queries we get a DataFrame
4)from External Datasources like CSV,json et

# Four different ways to provide schema
1. while creating df and providing Schema
2. using python Libarary
3. using row object
4. using StruckType and StruckField (using PySpark)

In [0]:
# while creating df and providing Schema

df3 = [("Hari",101) ,("Ravi",102),("Jai",103)]
df3 = spark.createDataFrame(df3,["Name: string","Id : Integer"])
df3.show()
df3.printSchema()

+------------+------------+
|Name: string|Id : Integer|
+------------+------------+
|        Hari|         101|
|        Ravi|         102|
|         Jai|         103|
+------------+------------+

root
 |-- Name: string: string (nullable = true)
 |-- Id : Integer: long (nullable = true)

In [0]:
# Using Python Library pandas
df4 = spark.createDataFrame(df3.toPandas(), schema=('Name string, Id int'))
df4.show()
df4.printSchema()

+----+---+
|Name| Id|
+----+---+
|Hari|101|
|Ravi|102|
| Jai|103|
+----+---+

root
 |-- Name: string (nullable = true)
 |-- Id: integer (nullable = true)

In [0]:
# using row object ------> RDD(SparkObject) ---> SparkObject(DF)

df5 = [('skdfhskjdf',1182), ('asd;fkj',112), ('asdf;lkj',76537256)]
# how to convert a python object to Spark Object??
rdd = spark.sparkContext.parallelize(df5)  #SC is SparkContext
# df = rdd + schema
df5 = spark.createDataFrame(rdd, schema=('Name: string, Id: int'))
df5.show()
df5.printSchema()

+----------+--------+
|      Name|      Id|
+----------+--------+
|skdfhskjdf|    1182|
|   asd;fkj|     112|
|  asdf;lkj|76537256|
+----------+--------+

root
 |-- Name: string (nullable = true)
 |-- Id: integer (nullable = true)

In [0]:
# Providing custom schema using StructType

# using StruckType and StruckField (using PySpark)


from pyspark.sql.types import StructType, StructField, StringType, IntegerType

X = [('Jai',9),('Agasthya',10),('Vincent', None), (None, 5)]
schema = StructType(
    [StructField("name",StringType(),True),
     StructField("age",IntegerType(),True)])
df = spark.createDataFrame(X,schema)
df.show()
df.printSchema()

+--------+----+
|    name| age|
+--------+----+
|     Jai|   9|
|Agasthya|  10|
| Vincent|NULL|
|    NULL|   5|
+--------+----+

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)