In [0]:
df = spark.read.format("json").load("/Volumes/dev/haridb/myvolume/emps.json")
df.show()

+---+---+------+-----+---+
|dno|eid| ename|  sal|sex|
+---+---+------+-----+---+
| 11|101|Miller|10000|  m|
| 12|102| Blake|20000|  m|
| 11|103|  Sony|30000|  f|
| 12|104| Sonia|40000|  f|
| 13|105| James|50000|  m|
+---+---+------+-----+---+

In [0]:
df.write.format("delta").mode("overwrite").saveAsTable("dev1.demodb.emp")
spark.sql("select * from dev1.demodb.emp").show()

+---+---+------+-----+---+
|dno|eid| ename|  sal|sex|
+---+---+------+-----+---+
| 11|101|Miller|10000|  m|
| 12|102| Blake|20000|  m|
| 11|103|  Sony|30000|  f|
| 12|104| Sonia|40000|  f|
| 13|105| James|50000|  m|
+---+---+------+-----+---+

In [0]:
# Update the delta table
spark.sql("update dev1.demodb.emp set sal = sal+30000 where eid = 101")
spark.sql ("select  * from dev1.demodb.emp").show();

# OR
#  spark.sql("update dev1.demodb.emp set sal = sal+30000 where eid = 101")
#  spark.sql ("select  * from dev1.demodb.emp").show();

+---+---+------+-----+---+
|dno|eid| ename|  sal|sex|
+---+---+------+-----+---+
| 11|101|Miller|70000|  m|
| 12|102| Blake|20000|  m|
| 11|103|  Sony|30000|  f|
| 12|104| Sonia|40000|  f|
| 13|105| James|50000|  m|
+---+---+------+-----+---+

In [0]:
%sql
update dev1.demodb.emp set sal = sal + 1000 ;
select * from dev1.demodb.emp;

dno,eid,ename,sal,sex
11,101,Miller,76000,m
12,102,Blake,22000,m
11,103,Sony,76000,f
12,104,Sonia,42000,f
13,105,James,52000,m

In [0]:
%sql
update dev1.demodb.emp set  sal = "75000" where ename= "Sony" ;
select * from dev1.demodb.emp;

dno,eid,ename,sal,sex
11,101,Miller,76000,m
12,102,Blake,22000,m
11,103,Sony,75000,f
12,104,Sonia,42000,f
13,105,James,52000,m

# Method-2:
# Pyspark Style----->using Table_instance

### PySpark లో Table Instance అంటే, Databricks metastore లో register అయ్యి, cloud storage లో ఉన్న data ని represent చేసే permanent table object.

In [0]:
from pyspark.sql.functions import *
from delta.tables import * 

deltatable_instance = DeltaTable.forName(spark,"dev1.demodb.emp")
deltatable_instance.update(condition = "ename = 'James'" , set = {"sal" : "5400"})
spark.sql("select * from dev1.demodb.emp").show()

#update dno
deltatable_instance.update(condition = "ename = 'Sony'" , set = {"dno" : "14"})
spark.sql("select * from dev1.demodb.emp").show()

#Update Name
deltatable_instance.update(condition = "eid = '104'" , set = {"ename": lit("Hari")})
spark.sql("select * from dev1.demodb.emp").show()

+---+---+------+-----+---+
|dno|eid| ename|  sal|sex|
+---+---+------+-----+---+
| 11|101|Miller|76000|  m|
| 12|102| Blake|22000|  m|
| 14|103|  Sony|75000|  f|
| 12|104| Sonia|42000|  f|
| 13|105| James| 5400|  m|
+---+---+------+-----+---+

+---+---+------+-----+---+
|dno|eid| ename|  sal|sex|
+---+---+------+-----+---+
| 11|101|Miller|76000|  m|
| 12|102| Blake|22000|  m|
| 14|103|  Sony|75000|  f|
| 12|104| Sonia|42000|  f|
| 13|105| James| 5400|  m|
+---+---+------+-----+---+

+---+---+------+-----+---+
|dno|eid| ename|  sal|sex|
+---+---+------+-----+---+
| 11|101|Miller|76000|  m|
| 12|102| Blake|22000|  m|
| 14|103|  Sony|75000|  f|
| 12|104|  Hari|42000|  f|
| 13|105| James| 5400|  m|
+---+---+------+-----+---+